{% extends 'layout/front/main.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="col-sm-6 card m-auto p-5">
            <div class="p-10">

                <h3 class="text-center p-2 border-bottom">Your Account has been deactivated</h3>
                <p>
                    Your account is inactive, please email Cytotalk Support Team through <a href="mailto:info@cytotalk.com">info@cytotalk.com</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
