{% extends 'layout/front/main.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <style>
    .help-block{
        color: darkred;
    }
    </style>
    <div class="column is-4 is-offset-4">
        <div class="col-sm-6 card m-auto p-5">
            <div class="p-10">

                <h3 class="text-center p-2 border-bottom">Register</h3>
                <form class="py-5" method="POST" action="{{ url_for('auth.RegistrationView:post') }}">
                    {{ wtf.quick_form(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
