{% extends 'layout/admin/main.html' %}

{% block content %}
    <h1>Categories in <span class="text-success">{{ project.title }}</span> </h1>
    <a href="{{ url_for('admin.CategoryView:create',project_id=project.id,category_type='excel') }}" class="btn btn-success">Create Excel category</a>
    <a href="{{ url_for('admin.CategoryView:create',project_id=project.id,category_type='image') }}" class="btn btn-success">Create Image category</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for category in project.categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.title}}</td>
                <td>{{ category.description}}</td>
                <td>{{ category.type}}</td>
                <td>
                    <a href="{{ url_for('admin.CategoryView:edit',category_id = category.id,project_id=project.id) }}" class="btn btn-success">Edit</a>
                    <a href="{{ url_for('admin.CategoryView:show',category_id = category.id) }}" class="btn btn-dark">View</a>
                    <form onsubmit="return confirm('This action cannot be reverted. Do you want to continue?')" method="POST" action="{{ url_for('admin.CategoryView:delete',project_id=project.id,category_id = category.id) }}">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
