{% extends 'layout/front/main.html' %}
{% block content %}
    <br>
    <br>
    <div class="container text-dark">
        <div class="card">
            <div class="row w-100 p-2 ">
                <div class="col-sm-12">
                    <div>
                        <div class="d-flex flex-wrap align-items-center">
                            <h3>{{ service.title }} </h3>
                            {#  <div class="d-inline-block">
                                <i class="fas fa-star  fa-sm  text-warning"></i>
                                <i class="fas fa-star  fa-sm  text-warning"></i>
                                <i class="fas fa-star  fa-sm  text-warning"></i>
                                <i class="fas fa-star  fa-sm  text-warning"></i>
                                <i class="fas fa-star  fa-sm  text-warning"></i>
                            </div>#}
                        </div>
                        <hr>
                    </div>

                    <div class="d-flex justify-content-center py-5">
                        <div id="serviceImages"
                             style="height: 500px; width: 100%; overflow: hidden;background-color: #1f1f1f"
                             class="carousel slide carousel-fade" data-mdb-ride="carousel">
                            <!-- Indicators -->
                            <div class="carousel-indicators">
                                <button type="button" data-mdb-target="#serviceImages" data-mdb-slide-to="0"
                                        class="active" aria-current="true"></button>
                                {% for x in range(service.images|length - 1) %}
                                    <button type="button" data-mdb-target="#serviceImages"
                                            data-mdb-slide-to="{{ x + 1 }}"></button>
                                {% endfor %}
                            </div>

                            <!-- Inner -->
                            <div class="carousel-inner">
                                <!-- Single item -->
                                {% with image = service.images|selectattr('is_main_picture','equalto',True)|first %}
                                    <div class="carousel-item text-center  h-auto w-100 active">
                                        <img
                                                src="{{ image.url }}"
                                                class="h-auto w-100"
                                                alt="{{ service.title }}">
                                    </div>
                                {% endwith %}
                                {% for image in service.images|selectattr('is_main_picture','equalto',False) %}

                                    <!-- Single item -->
                                    <div class="carousel-item text-center  h-auto w-100">
                                        <img
                                                src="{{ image.url }}"
                                                class="h-auto w-100"
                                                alt="{{ service.title }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- Inner -->

                            <!-- Controls -->
                            <button class="carousel-control-prev" type="button" data-mdb-target="#serviceImages"
                                    data-mdb-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-mdb-target="#serviceImages"
                                    data-mdb-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                    <div>
                        <p>{{ service.long_description |safe }}</p>

                        <div class="text-center">

                            <button
                                    onclick="showMoreInfo()"

                                    class="btn btn-warning text-dark text-bold text-center rounded-5 shadow-1-soft btn-primary btn-lg md-20">
                                Get Started for USD {{ service.price }}
                            </button>
                            <div id="moreInfoSection"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        function showMoreInfo() {
            $('#moreInfoSection').html(`<p>For more information about our services, send an email to <a href="mailto:info@cytotalk.com">info@cytotalk.com</a></p>`)
        }
    </script>
{% endblock %}
