{% extends 'layout/front/main.html' %}
{% block content %}
<div class="container">
    <h1 class="text-dark text-center">Our Applications</h1>

    <div class="text-center">
        <a href="{{ url_for('main.integrate_deg') }}" class="m-5 btn btn-light btn-md  js-scroll-trigger" "style="font-size: 30px;">Integrate DEGs from Seurat</a>
        <a href="{{ url_for('main.integrate_excel_files') }}" class="m-5 btn btn-light btn-md  js-scroll-trigger" "style="font-size: 30px;">Integrate Excel files</a>
    </div>
    </div>
{% endblock %}
