{% extends 'layout/front/main.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 m-auto">
                <h1 class="text-dark">
                    Integrate CSV files
                </h1>
                <form enctype="multipart/form-data" method="post" action="{{ url_for('main.integrate_excel_files') }}">
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="csv_file_1">CSV File 1</label>
                                <input class="form-control" type="file" name="csv_file_1" id="csv_file_1">
                            </div>
                            <div class="form-group">
                                <label for="key_column_from_file_1">Key column from file 1</label>
                                <input class="form-control" type="number" name="key_column_from_file_1" id="key_column_from_file_1">
                            </div>

                            <div class="form-group">
                                <label for="columns_of_interest_from_file1">Columns of interest from file 1 <span class="text-sm">(Separate by commas)</span></label>
                                <input class="form-control" type="text" name="columns_of_interest_from_file1"
                                       id="columns_of_interest_from_file1" placeholder="2,5">
                            </div>
                        </div>
                        <div class="col-sm-6 border-left">
                            <div class="form-group">
                                <label for="csv_file_2">CSV File 2</label>
                                <input class="form-control" type="file" name="csv_file_2" id="csv_file_2">
                            </div>
                            <div class="form-group">
                                <label for="key_column_from_file_2">Key column from file 2</label>
                                <input class="form-control" type="number" name="key_column_from_file_2" id="key_column_from_file_2">
                            </div>
                            {#<div class="form-group">
                                <label for="columns_of_interest_from_file_2">Columns of interest from file 2 <span class="text-sm">(Separate by commas)</span></label>
                                <input class="form-control" type="text" name="columns_of_interest_from_file_2"
                                       id="columns_of_interest_from_file_2" placeholder="2,5">
                            </div>#}
                            <div class="form-group">
                                <label for="starting_column_file_2">Starting column in file 2</label>
                                <input class="form-control" type="number" name="starting_column_file_2"
                                       id="starting_column_file_2">
                            </div>
                        </div>
                    </div>
                    <div class="p-3 text-center">
                        <button class="btn btn-success btn-lg" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
