{% extends 'layout/front/main.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 m-auto">
            <h1 class="text-dark text-center">
                Integrate DEGs
            </h1>
            <p class="text-dark text-center">This function takes Seurat output (the differentially expressed genes) between each cluster in 2 conditions.
            <br /><br />Column 1 should be gene names.<br />
            Column 3 should be Fold change.<br /> 
            Column 5 should be adjusted p value.<br />
            Fill zeros: if Yes, genes' values that are not < adjusted p value or < fold change cutoff will be replaced with zero.<br /><br />
            Note: Files should be *.xlsx</p>
            <form action="{{ url_for('main.integrate_deg') }}" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="integrate_deg_files">Files</label>
                    <input accept=".xlsx" class="form-control" id="integrate_deg_files" multiple name="deg_files"
                           required type="file">

                </div>
                <div class="form-group">
                    <label for="adj_p">adjusted p value cutoff</label>
                    <input class="form-control" id="adj_p" name="adj_p" required type="text">

                </div>
                <div class="form-group">
                    <label for="logFC_cutoff">Fold change cutoff (if 0.2, it will consider genes with > 0.2 or < -0.2).</label>
                    <input class="form-control" id="logFC_cutoff" name="logFC_cutoff" required type="text">

                </div>
                <div class="form-group">
                    <label for="fill_zeros">fill zeros</label>
                    <select class="form-control" id="fill_zeros" name="fill_zeros" required>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>

                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-md" type="submit"> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
