{% extends 'layout/admin/main.html' %}

{% block content %}
    <h1>Columns in <span class="text-success">{{ category.title }}</span>  category</h1>

{#    <a href="{{ url_for('admin.CategoryView',category_type='excel') }}" class="btn btn-success">Add Excel file</a>#}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for column in category.columns %}
            <tr>
                <th scope="row">{{ column.id }}</th>
                <td>
                    {{ column.title }}
                </td>
                <td>{{ column.description}}</td>
                <td>{{ column.category.name}}</td>
                <td>
                    <a href="" class="btn btn-dark">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Table data</h1>
    <table class="table">
        <thead>
        <tr>
            {% for column in category.columns %}
            <th scope="col">{{ column.title }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
            {% for value in record %}
                <td>{{ value}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
