{% extends 'layout/front/main.html' %}
<!-- Masthead-->
{% block content %}
    <header style="background-image: url('{{ url_for('static',filename='main/image/header-bg.jpg') }}')" class="masthead">
        <div class="container p-5">
            <h1 class="text-center text-white">
                Welcome to <br> CytoTalk, LLC
            </h1>
            <div class="row flex-column justify-content-center align-items-center">
                <div class="col-sm-3">
                    <a class="btn m-2 btn-light btn-block btn-md  js-scroll-trigger"
                       href="https://www.applicagen.com/groups/5fe7dbfe3dd1636795b0f2d7" style="font-size: 30px;"> Our Activities!
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="m-2 btn btn-light btn-block btn-md  js-scroll-trigger" href="{{ url_for('main.applications') }}"
                       style="font-size: 30px;">Applications
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="m-2 btn btn-light btn-block btn-md  js-scroll-trigger"
                       href="{{ url_for('database.DatabaseView:index') }}"
                       style="font-size: 30px;">Databases
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="m-2 btn btn-light btn-block btn-md  js-scroll-trigger"
                       href="{{ url_for('course.CourseView:index') }}"
                       style="font-size: 30px;">Courses
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="m-2 btn btn-light btn-block btn-md  js-scroll-trigger"
                       href="{{ url_for('services.ServiceView:index') }}"
                       style="font-size: 30px;">Our services
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="m-2 btn btn-light btn-block btn-md  js-scroll-trigger"
                       href="{{ url_for('monthly_plans.MonthlyPlanView:index') }}"
                       style="font-size: 30px;">Monthly plans
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="m-2 btn btn-light btn-block btn-md  js-scroll-trigger"
                       href="{{ url_for('project.ProjectView:index') }}"
                       style="font-size: 30px;">Projects
                    </a>
                </div>
            </div>

        </div>
    </header>
{% endblock %}
